<html>
  <head>
    <%= stylesheet_link_tag    "moneris_simulator", media: "all" %>
    <%= javascript_include_tag "moneris_simulator" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>

